#loggedInLabel {
    -fx-pref-width: 100;
    -fx-pref-height: 20;
}

#menuText {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-pref-width: 300;
    -fx-pref-height: 50;
}

#name {
    -fx-pref-width: 300;
}


#day {
    -fx-pref-width: 200;
}

#timeStart {
    -fx-pref-width: 100;
    -fx-border-width: 0 0 0 1;
    -fx-border-color: darkgray;
}

#timeEnd {
    -fx-pref-width: 100;
}

.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-border-width: 1px 0px 0px 0px;
}


.table-column {
    -fx-alignment: center;
    -fx-border-width: 0 0 1 0;
}

#blankCell {
    -fx-pref-width: 20;
}

#weekBtn {
    -fx-pref-height: 25;
    -fx-pref-width: 50;
}


